// Tons de preto
$dark-black: #000;
$medium-black: #1A1A1A;
$light-black: rgba(0, 0, 0, 0.8);
// Tons de Cinza
$dark-grey: #8B8B8B;
$medium-grey: #7C7C7C;
$light-grey: #C4C4C4;
// Tons de Branco 
$white: #FFF;
$medium-white: #FFFBFB;
// fim dos tons de cores