.form {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        font-size: 28px;
        font-family: "Montserrat", times;
        font-weight: 700;
        border: 5px solid #000;
        padding: 15px 100px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        width: 50%;
        div {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 50px;
            border-left: 4px solid $dark-black;
            border-bottom: 4px solid $dark-black;
            @media screen and (max-width: 440px) {
                max-width: 250px !important;
            }
            input {
                height: 50px;
            }
            textarea {
                padding-top: 15px;
            }
            input,
            textarea {
                border: none;
                position: relative;
                outline: none;
                overflow: visible;
                padding-left: 15px;
                background: transparent;
                &::placeholder {
                    position: absolute;
                    top: 20px;
                    left: 15px;
                    color: #8B8B8B;
                    font-family: 'Montserrat';
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    transition: top ease .3s;
                }
                &:focus-visible::placeholder {
                    top: 0px;
                }
            }
        }
    }
}